# vim: ft=ini

[BASIC]
good-names=log,f,k,v

[VARIABLES]
# List of additional names supposed to be defined in builtins. Remember that
# you should avoid to define new builtins when possible.
additional-builtins=
    __salt__,
    __opts__,
    __grains__,
    __pillar__
