[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "salt-tower"
version = "1.5.2"
homepage = "https://github.com/jgraichen/salt-tower"
description = "A Flexible External Salt Pillar Module"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Plugins",
    "Intended Audience :: System Administrators",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
    "Topic :: System :: Systems Administration",
]
authors = ["Jan Graichen <jgraichen@altimos.de>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.6"
salt = "*"

[tool.poetry.dev-dependencies]
pytest = "*"

[tool.poetry.plugins."salt.loader"]
pillar_dirs = "salt_tower.loader:pillar_dirs"
render_dirs = "salt_tower.loader:renderers_dirs"

[tool.dephell.main]
from = {format = "poetry", path = "pyproject.toml"}
to = {format = "setuppy", path = "setup.py"}
