---
name: docs

on:
  push:
    branches:
      - main
    tags:
      - v*
  workflow_dispatch:

jobs:
  docs:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v5
        with:
          enable-cache: True
      - uses: actions/setup-python@v6
      - run: uv sync --all-extras --dev
      - run: |
          git config --global user.name "$(git --no-pager log --format=format:'%an' -n 1)"
          git config --global user.email "$(git --no-pager log --format=format:'%ae' -n 1)"
          git fetch origin gh-pages:gh-pages
      - run: echo "TAG=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - run: uv run mike deploy --push ${TAG:-latest}
