name: Python Package

on: [push]

jobs:
  Test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python: [2.7, 3.6, 3.7]
        salt: [2016.11.10, 2017.7.8, 2018.3.4, 2019.2.0]
        exclude:
          - {python: 3.6, salt: 2016.11.10}
          - {python: 3.6, salt: 2017.7.8}
          - {python: 3.7, salt: 2016.11.10}
          - {python: 3.7, salt: 2017.7.8}

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -q pytest salt~=${{ matrix.salt }}
    - name: Build package
      run: python setup.py -q install
    - name: Test
      run: pytest -v
